<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>22A51B8F-5788-426D-B6CD-949A07829DD8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ezh</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.areas</key>
      <integer>3</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
