<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>850</integer>
    <key>capHeight</key>
    <integer>637</integer>
    <key>copyright</key>
    <string>Copyright 2011 The Alegreya Project Authors (https://github.com/huertatipografica/Alegreya)</string>
    <key>descender</key>
    <integer>-150</integer>
    <key>familyName</key>
    <string>Alegreya</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>PTJ2ESDPfP</string>
        <key>x</key>
        <integer>316</integer>
        <key>y</key>
        <integer>-133</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/10/23 12:47:55</string>
    <key>openTypeNameDesigner</key>
    <string>Juan Pablo del Peral</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.huertatipografica.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Huerta Tipografica</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.huertatipografica.com</string>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>HT</string>
    <key>openTypeVheaVertTypoAscender</key>
    <integer>500</integer>
    <key>openTypeVheaVertTypoDescender</key>
    <integer>-500</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>1000</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>452</integer>
      <integer>468</integer>
      <integer>497</integer>
      <integer>513</integer>
      <integer>637</integer>
      <integer>653</integer>
      <integer>850</integer>
      <integer>866</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-166</integer>
      <integer>-150</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>50</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>73</integer>
      <integer>78</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>452</integer>
  </dict>
</plist>
